{% extends 'base.html' %} 
{% block title %}About{% endblock title %} 

{% block main %} 
{% block style %}
<style>
  .godabout {
    width: 80%;
    margin-left: 10%;
    
  }
  .myself{width: 100%;background-color: rgba(0, 0, 0, 0.533);border-radius: 12px;box-shadow: 5px 5px 10px 10px black;}
  .aboutfont{font-family: 'Belanosima', sans-serif;font-size: 30px;padding: 20px;color: white;-webkit-text-stroke:1px black;}
  .aboutform{text-decoration: underline;
    text-underline-offset: 6px;} 
</style>
{% endblock style %}
<div class="godabout">
  <div class="myself">
   
    <p class="aboutfont">
      Hello! Welcome to my portfolio site. <br> My name is Vishal Yadav, and I am
      excited to share my skills, experiences, and aspirations with you.<br>
      
      While I may not have a formal degree, I believe that my passion, dedication, and
      compatibility make me a strong candidate for your consideration.<br>
      Throughout my journey of self-learning and personal growth, I have
      acquired valuable knowledge and skills in [field of interest].<br> I have
      dedicated countless hours to studying and practicing in this area,
      constantly expanding my understanding and honing my abilities.<br> What sets
      me apart is my drive to stay up-to-date with the latest industry trends
      and advancements.<br> I am a firm believer in lifelong learning, and I
      continuously seek out opportunities to expand my knowledge and skill set.<br>
      Whether it's through online courses, workshops, or engaging with industry
      professionals, I am committed to staying ahead of the curve.<br> Practical
      experience has played a vital role in shaping my capabilities.<br> I have
      actively sought out projects, internships, and freelance opportunities to
      apply my skills and gain hands-on experience.<br> These experiences have not
      only refined my technical abilities but have also taught me the importance
      of adaptability, problem-solving, and effective communication.<br> While I may
      not have a degree, I am a strong believer in the power of passion,
      dedication, and hard work.<br> I am confident that my compatibility with
      [field of interest] and my proven track record of self-learning and
      practical experience make me a valuable asset to any team or organization.<br>
      This portfolio site showcases a collection of my projects and
      accomplishments, providing you with a glimpse into my abilities and
      potential.<br> I invite you to explore my work and witness my dedication and
      commitment to excellence.<br> Thank you for visiting my portfolio site.<br> I am
      eager to connect with professionals, mentors, and organizations that share
      my passion and values.<br> I look forward to the opportunities that lie ahead
      and the chance to contribute meaningfully in the field of [field of
      interest].
    </p>
  </div>
</div>
{% endblock main %}
