{% extends 'base.html' %}
 {% block title %}Projects{% endblock title %} 
 {% block style %}
<style>
  .projectsliform{text-decoration: underline;
    text-underline-offset: 6px;}
  .project {
    background-color: rgba(0, 0, 0, 0.526);
    width: 400px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .projectbtn{height: 70px;background-color: rgb(105, 200, 239);width: 360px;border-radius: 20px;}
</style>
{% endblock style %} {% block main %}
<div class="containerpro flex justify-around">
  <div class="project">
    Lorem ipsum dolor sit amet gr consectetur adipisicing elit. Nesciunt alias
    deserunt explicabo nulla empore at, eum velit amet temporibus ipsam id
    reiciendis quos ut est ullam laborum impedit dicta officiis aliquam
    architecto fuga. Temporibus autem dignissimos voluptatibus, hic odit quas ut
    mollitia magnam qui iure rerum quam atque aperiam totam nemo doloremque
    dolore culpa id ad excepturi iusto saepe sequi. Sequi nihil ullam impedit
    fuga, praesentium exercitationem quidem expedita quaerat ducimus maiores
    atque, sed voluptatibus tempora architecto modi tenetur, consequatur aliquam
    dicta nostrum. Temporibus inventore accusamus perferendis iusto aliquid
    atque, repudiandae nostrum possimus eaque quod dolore alias laboriosam
    adipisci soluta odio reiciendis! Eius alias aliquam repellendus nulla
    nostrum sequi itaque architecto tenetur. Velit possimus molestiae laudantium
    assumenda similique. Odio animi nisi, natus eaque dolores porro quam
    distinctio aspernatur ducimus ipsam voluptatem, reprehenderit veritatis modi
    corrupti magni, tenetur deleniti nostrum ea! Maxime quis nam magnam minus
    nulla dolor ipsum eveniet impedit, explicabo dolore possimus? Voluptate nemo
    aperiam maiores quis quibusdam distinctio sint fugit numquam nostrum totam!
    Commodi eos nihil dolores doloribus quidem dolor libero nostrum voluptatem
    itaque hic voluptas id atque distinctio, ex officia repellendus provident
    iste ab natus nesciunt aut sequi adipisci mollitia tempore! Voluptates, vero
    suscipit non libero possimus hic obcaecati. Mollitia in corrupti accusamus
    odit illo qui dolorem maxime, fugiat et quod dicta nesciunt a voluptatum
    ullam adipisci distinctio eum vitae. Nisi, ratione veritatis eos aliquam
    consectetur pariatur maiores adipisci, perferendis tenetur, aspernatur non
    possimus aperiam. Natus, necessitatibus tempore adipisci vero sunt vel enim
    recusandae aliquid voluptatem non accusantium. Similique temporibus aliquid
    facilis rem quibusdam consectetur voluptatum explicabo, delectus harum
    doloribus officiis obcaecati repellat quae quasi! Doloribus impedit ullam
    aliquam sed. Recusandae illo aliquam libero iste perspiciatis non quae,
    quisquam assumenda unde. Quo voluptas nobis veniam temporibus quisquam,
    natus dolore distinctio, atque deserunt nulla sunt culpa nihil ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt animi ullam incidunt necessitatibus beatae consequatur qui deleniti nulla tempora exercitationem nobis eligendi, ab corrupti ratione. Ab labore recusandae sint vel?<button
      class="projectbtn"
    >
      CHECK!!
    </button>
  </div>
  <div class="project">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum a sit fugiat!
    Voluptatum, quaerat molestiae reiciendis architecto culpa at sapiente.
    Voluptatem accusamus impedit voluptas magni aperiam repudiandae temporibus
    laudantium quas cupiditate amet hic alias non explicabo at facilis tempora
    doloremque natus, magnam optio quo provident maxime distinctio tempore!
    Magni excepturi beatae fuga quod inventore, rerum deleniti commodi nostrum
    labore blanditiis est quisquam natus, esse ad nihil, maiores aspernatur
    libero molestiae quas. Voluptates maiores dicta numquam voluptatibus
    mollitia vitae fuga modi fugit commodi? Maxime, consequatur deleniti ex
    blanditiis repudiandae tempore, laborum tenetur nobis, maiores deserunt
    quisquam! Soluta placeat consectetur repudiandae excepturi ex provident esse
    dignissimos nulla, odit expedita beatae repellat. Voluptates consectetur rem
    quo assumenda molestiae modi repellat laudantium atque eligendi eius
    nesciunt quod quae deleniti ad, corporis dolorum distinctio reiciendis
    facilis aperiam aut facere laboriosam animi, illum tempora. Perferendis,
    ipsam hic nam atque maxime illum soluta corporis vel deserunt exercitationem
    qui officia et odio voluptatem doloremque eum similique blanditiis libero
    quam, aspernatur enim quas impedit! Dolores debitis sequi minima obcaecati,
    iure nostrum officia voluptate vitae minus deleniti, molestiae aliquid
    soluta sit aliquam, quos nesciunt temporibus. Aliquid dicta esse optio
    cumque ipsa? Ab molestiae, pariatur fuga minima quasi totam ipsa sit quas
    possimus aut dicta obcaecati alias. Quasi et laboriosam repellat quae eos!
    Dignissimos ipsam quos reprehenderit dicta maiores quaerat quo amet
    doloribus voluptatum asperiores soluta veritatis temporibus quasi, atque
    nemo repellat alias sint optio ex et, quia dolores deserunt. Expedita,
    aperiam voluptate tenetur totam unde perferendis incidunt asperiores
    consectetur neque delectus voluptatibus vero nam quidem, ut voluptatum ab et
    veritatis! Inventore, cumque unde, in, numquam perspiciatis architecto ipsa
    dolor ea modi recusandae praesentium beatae eius a consequatur. Nobis
    exercitationem consequatur maxime quidem ad iusto harum officia eos illum,
    illo voluptates optio nisi, doloribus quod velit. Rerum voluptas architecto
    aut quam.
    <button class="projectbtn">CHECK!!</button>
  </div>
  <div class="project">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum a sit fugiat!
    Voluptatum, quaerat molestiae reiciendis architecto culpa at sapiente.
    Voluptatem accusamus impedit voluptas magni aperiam repudiandae temporibus
    laudantium quas cupiditate amet hic alias non explicabo at facilis tempora
    doloremque natus, magnam optio quo provident maxime distinctio tempore!
    Magni excepturi beatae fuga quod inventore, rerum deleniti commodi nostrum
    labore blanditiis est quisquam natus, esse ad nihil, maiores aspernatur
    libero molestiae quas. Voluptates maiores dicta numquam voluptatibus
    mollitia vitae fuga modi fugit commodi? Maxime, consequatur deleniti ex
    blanditiis repudiandae tempore, laborum tenetur nobis, maiores deserunt
    quisquam! Soluta placeat consectetur repudiandae excepturi ex provident esse
    dignissimos nulla, odit expedita beatae repellat. Voluptates consectetur rem
    quo assumenda molestiae modi repellat laudantium atque eligendi eius
    nesciunt quod quae deleniti ad, corporis dolorum distinctio reiciendis
    facilis aperiam aut facere laboriosam animi, illum tempora. Perferendis,
    ipsam hic nam atque maxime illum soluta corporis vel deserunt exercitationem
    qui officia et odio voluptatem doloremque eum similique blanditiis libero
    quam, aspernatur enim quas impedit! Dolores debitis sequi minima obcaecati,
    iure nostrum officia voluptate vitae minus deleniti, molestiae aliquid
    soluta sit aliquam, quos nesciunt temporibus. Aliquid dicta esse optio
    cumque ipsa? Ab molestiae, pariatur fuga minima quasi totam ipsa sit quas
    possimus aut dicta obcaecati alias. Quasi et laboriosam repellat quae eos!
    Dignissimos ipsam quos reprehenderit dicta maiores quaerat quo amet
    doloribus voluptatum asperiores soluta veritatis temporibus quasi, atque
    nemo repellat alias sint optio ex et, quia dolores deserunt. Expedita,
    aperiam voluptate tenetur totam unde perferendis incidunt asperiores
    consectetur neque delectus voluptatibus vero nam quidem, ut voluptatum ab et
    veritatis! Inventore, cumque unde, in, numquam perspiciatis architecto ipsa
    dolor ea modi recusandae praesentium beatae eius a consequatur. Nobis
    exercitationem consequatur maxime quidem ad iusto harum officia eos illum,
    illo voluptates optio nisi, doloribus quod velit. Rerum voluptas architecto
    aut quam.<button class="projectbtn">CHECK!!</button>
  </div>
</div>
{% endblock main %}
