{% extends 'base.html' %}
 {% block title %}Projects{% endblock title %} 
 {% block style %}
<style>
  .projectsliform{text-decoration: underline;
    text-underline-offset: 6px;}
  .project {
    background-color: rgba(0, 0, 0, 0.526);
    width: 80%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:30px;
  }
  .projectbtn{height: 70px;background-color: rgb(105, 200, 239);width: 360px;border-radius: 20px;}
  .containerpro{
    flex-direction:column;
    align-items:center;
  }
</style>
{% endblock style %} {% block main %}
<div class="containerpro flex">

  {%for project in projects %}
  <div class="project">
    <div class="img"><a href="{{project.prolink}}"><img style="width:100%" src="/media/{{project.projectimg}}" alt=""></a></div>
    <div class="texts">
      <a href="{{project.prolink}}"><h2 style="color: white;">{{project.protitle}}</h2></a>
      <p style="color: white;">{{project.prodescrip}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock main %}
